<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="haine, magazin de haine, Clothes Select, pantofi, tricouri, pantaloni, rochii, geci, oferta, Bucuresti">
        <meta name="description" content="Magazin de haine, Clothes Select, preturi bune, articole de imbracaminte, barbati, femei, copii, pantofi, tricouri, pantaloni, geci, rochii, promotie">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Clothes Select - înregistrare </title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/inregistrare.js></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
    <div class="afisaj">
        <h1>Inregistrare utilizator</h1>
        <% if(!locals.raspuns) { %>    

			<%-include("../fragmente/formular", {action: "/inregistrare"}) %>
        <% } %>
        
	<% if(locals.raspuns) { %>
	<%- locals.raspuns+"<br/>"%>
	<% } %>
	<% if(locals.err) { %>
	<%- locals.err %>
	<% } %>
    </div>
</main>

<footer>
    <%- include("../fragmente/footer") %>
</footer>

</body>
</html>